body {
    font-family: sans-serif;
    background: url(https://xvivo.com/app/uploads/2020/05/COVID19_1366x768.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.startscr {
    background-color: rgba(146, 41, 179, 0.384);
    box-shadow: 0 0 8px white;
    height: 360px;
    width: 900px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    padding :20px;
    border-radius:15px;
}

.startButton {
    position: absolute;
    top: 140%;
    left: 40%;
    width: 175px;
    height: 60px;
    font-size: 22px;
    font-weight: normal;
}

.inputname {
    width: 232px;
    height: 35px;
    position: relative;
    top: 23%;
    left: 36%;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.0);
    color: white;
    box-shadow: 0 0 8px white;
    outline: none;
    border: none;
    font-size: 15px;
    padding: 7px
}
.inputname:hover {
    background: rgba(146, 41, 179, 0.384);
}
ul {
    width: 30em;
    font-size: 22px;
    position: relative;
    left: 30px;
    font-family: 'Raleway', sans-serif;
    color: white;
}
.quizContainer {
    height: 500px;
    width: 900px;
    background-color: rgba(255, 255, 255, 0.0);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    padding :20px;
}
.container {
    position: relative;
    left: 5%;
}
.timebar {
    font-family: 'Raleway',sans-serif;
    background-color: transparent;
    box-shadow: 0 0 8px white;
    border-radius: 20px;
    color: white;
    width: 120px;
    height: 45px;
    display: flex;
    justify-content: center;
    padding: 20px 5px 0px 5px;
    position: absolute;
    top: 5%;
    left: -30%;
}
.quizTitle {
    padding-top: 20px;
    text-align: center;
    font-family: 'Lemonada', cursive;
    font-size: 50px;
    text-transform: uppercase;
    color:white;
}

.question {
    padding: 20px;
    font-size: 25px;
    border-radius: 20px;
    box-shadow: 0 0 8px white;
    margin: 10px 0 10px 0;
    color: #f6f6f6;
    font-family: 'Anton', sans-serif;
    background-color: rgba(146, 41, 179, 0.384);
}
.option {
    width: 470px;
    padding: 20px;
    display: flex;
    justify-content: flex-start;
    box-shadow: 0 0 8px white;
    margin: 10px 0 10px 10px;
    color: white;
    border-radius: 20px;
    font-family: 'Raleway', sans-serif;
}
 .option:hover {
     background: rgba(146, 41, 179, 0.384);
     color: white;
 }
.option input[type=radio]:checked {
    background-color: purple;
}
 button {
     border: none;
     outline: none;
     background: transparent;
     color: white;
     box-shadow: 0 0 8px white;
     width: 120px;
     height: 45px;
     font-size: 18px;
     font-weight: bold;
     border-radius: 20px;
     cursor: pointer;
     float: right;
     margin: 10px;
 }

 button:hover {
     background: rgba(146, 41, 179, 0.384);
 }

 .ques_btncont {
     display: grid;
     grid-template-columns: repeat(3, 1fr);
     position: absolute;
     top: 25%;
     left:-36%;
 }
 .ques_btn {
     width: 60px;
 }
 .result {
     position: absolute;
     background: rgba(146, 41, 179, 0.384);
     top: 45%;
     left: 43%;
     border-radius: 20px;
     padding: 10px 20px;
     color: white;
     width: 240px;
     height: 160px;
     text-align: center;
     font-size: 35px;
     font-family: 'Anton', sans-serif;
 }
